.divi-block_testimonial{
    flex-flow: row wrap;
    display: flex;
}

.block-testimonial {
    width: 33.33%;
    display: inline-flex;
}

.block-testimonial_0 .block-item_caption {
    background: #FF5902;
}

.block-testimonial_1 .block-item_caption {
    background: #B11655;
}

.block-testimonial_2 .block-item_caption {
    background: #098D5E;
}

.block-testimonial_3 .block-item_caption {
    background: #795DA8;
}

.block-testimonial_4 .block-item_caption {
    background: #0A5973;
}

.block-testimonial_5 .block-item_caption {
    background: #ED2B25;
}

.block-item {
    width: 50%;
}

.block-item_caption {
    padding: 25px 25px 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    display: flex;
}

.block-item_caption p {
    color: #fff;
    font-family: 'Chivo',Helvetica,Arial,Lucida,sans-serif;
}

.block-item_name {
    font-weight: bold;
}

.block-item_image {
    visibility: hidden;
}

.block-item_images {
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.block-item_images-slider,
.block-item_images-slider .slick-list,
.block-item_images-slider .slick-list .slick-track {
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .block-testimonial {
        width: 100%;
    }

    .block-testimonial_1,
    .block-testimonial_4 {
        flex-flow: row-reverse;
        display: flex;
    }
}