.divi-block_product-composition {
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.divi-block_product-composition.is-slider {
    gap: 0;
    display: block;
}

.divi-block_product-composition-slider .slick-track {
    align-items: stretch;
    display: flex;
}

.divi-block_product-composition-slider .slick-slide {
    height: unset;
}

.block-item-pc {
    width: 100%;
    max-width: 300px;
    padding: 25px 30px 35px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgba(0,0,0,0.16);
}

.block-item-pc_slide {
    padding: 0 10px;
}

.block-item-pc_slide .block-item-pc {
    max-width: unset;
    height: 100%;
}

.block-item-pc_content {
    text-align: center;
}

.block-item-pc_title,
.block-item-pc_description {
    color: #484848;
    text-align: center;
    font-family: 'Chivo',Helvetica,Arial,Lucida,sans-serif;
}

.block-item-pc_title {
    margin-bottom: 10px;
    font-weight: bold;
}

.block-item-pc_image-container {
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .block-item-pc {
        max-width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .divi-block_product-composition {
        flex-direction: column;
    }
}